# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars

# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/

# Django
*.sqlite3
staticfiles/

# Docker
.dockerignore

# OS
.DS_Store

app/venv/
app/.venv/
venv/
.venv/
__pycache__/
*.pyc
.env
*.sqlite3
db.sqlite3